<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<div class="container text-center">

<br>
<h1>Here is a description of this site.</h1>
<br>
<p>You can choose any characters to generate your own password.</p>
<br>
<h3>This site created by Hanna Saviankova in 2023.08.02.</h3>
<br>
<h4>This is my first site on django.</h4>
<br>
<h5>I'm so glad!</h5>

<a href="{% url 'home' %}" class="btn btn-warning">Go home</a>
</div>
